In [235]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [236]:
df = pd.read_csv("../../../data/superstore.csv", encoding="latin-1", parse_dates=["Order Date", "Ship Date"])
df["Total Sales"] = df["Sales"] * df["Quantity"]
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Total Sales
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,523.9200
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2195.8200
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,29.2400
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,4787.8875
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,44.7360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,75.7440
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,183.9200
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,517.1520
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,118.4000
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,486.3200

In [237]:
df.groupby("Segment")["Total Sales"].mean()

Segment
Consumer       1121.045541
Corporate      1164.274064
Home Office    1207.295008
Name: Total Sales, dtype: float64

In [238]:
#Practicas con el agg
df["Dias_Envio"] = (df["Ship Date"] - df["Order Date"]).dt.days
resumen = df.groupby("Category").agg({
    "Dias_Envio": "mean",
    "Sales": "sum",
    "Profit": ["sum","mean"],
    "Discount": "max"
})
resumen

                Dias_Envio        Sales       Profit            Discount
                      mean          sum          sum       mean      max
Category
Furniture         3.917020  741999.7953   18451.2728   8.699327      0.7
Office Supplies   3.983405  719047.0320  122490.8008  20.327050      0.8
Technology        3.923119  836154.0330  145454.9481  78.752002      0.7

In [239]:
#Practicas con la tabla pivot, asi sacamos en q region es mas rentable la categoria segun el profit
#Un cruado comparativo se podria decir
matriz_profit = df.pivot_table(index="Category", columns="Region",values="Profit")
matriz_profit

Region             Central       East      South       West
Category
Furniture        -5.968918   5.068496  20.395199  16.272914
Office Supplies   6.244712  23.957114  20.086827  27.733183
Technology       80.231981  88.714084  68.231506  73.962687

In [240]:
"""# Es como el Excel: Filas (index), Columnas (columns) y Valores (values)
tabla_dinamica = df.pivot_table(
    index='Region', 
    columns='Segment', 
    values='Profit', 
    aggfunc='sum' # Aquí puedes poner 'mean', 'sum', 'count'
)

print(tabla_dinamica)"""

"# Es como el Excel: Filas (index), Columnas (columns) y Valores (values)\ntabla_dinamica = df.pivot_table(\n    index='Region', \n    columns='Segment', \n    values='Profit', \n    aggfunc='sum' # Aquí puedes poner 'mean', 'sum', 'count'\n)\n\nprint(tabla_dinamica)"

In [241]:
def evaluar_envio(fila):
    dias = fila['Dias_Envio']
    modo = fila['Ship Mode']
    
    if modo == 'Same Day' and dias > 0: return 'Retrasado'
    if modo == 'First Class' and dias > 2: return 'Lento 1'
    if modo == "Second Class" and dias > 3: return "Lento 2"
    if modo == "Standard Class" and dias > 4: return "Lento 3"
    if dias > 5: return 'Crítico'
    return 'A tiempo'

# Aplicamos la función a todo el DataFrame (axis=1 para leer filas, si es 0 como predeterminado agarra la columna entera)
# tambien se puede hacer funcion lambda para comparar una columna con otra y te crea un resultado 
df['Status_Envio'] = df.apply(evaluar_envio, axis=1)
print(df['Status_Envio'].value_counts())

Status_Envio
A tiempo     4982
Lento 3      3564
Lento 2       800
Lento 1       624
Retrasado      24
Name: count, dtype: int64

In [242]:
# Practica con marge para unir dataframe (o tabla) con otro dataFrame

data_gerentes = {
    "Region": ["Central","East","South","West"],
    "Gerente": ["Elias B", "Renzo A", "Sol M", "Nicolas P"]
}

df_gerentes = pd.DataFrame(data_gerentes)
df = df.merge(df_gerentes,how="left",on="Region")
df[["Region","Gerente"]].head()

  Region    Gerente
0  South      Sol M
1  South      Sol M
2   West  Nicolas P
3  South      Sol M
4  South      Sol M

In [243]:
# Practica con transform, para comparar una fila contra 
# 1. Calculamos el total de ventas de CADA categoría y lo ponemos en cada fila
df['Ventas_Totales_Cat'] = df.groupby('Category')['Sales'].transform('sum')

# 2. Ahora podemos saber qué porcentaje representa ESTA venta sobre el total de su categoría
df['Ratio_Sobre_Categoria'] = (df['Sales'] / df['Ventas_Totales_Cat']) * 100

df[['Category', 'Sales', 'Ventas_Totales_Cat', 'Ratio_Sobre_Categoria']].head()

          Category     Sales  Ventas_Totales_Cat  Ratio_Sobre_Categoria
0        Furniture  261.9600         741999.7953               0.035305
1        Furniture  731.9400         741999.7953               0.098644
2  Office Supplies   14.6200         719047.0320               0.002033
3        Furniture  957.5775         741999.7953               0.129054
4  Office Supplies   22.3680         719047.0320               0.003111

## Practicar con esto:

Usa un pivot_table para ver el Margen % promedio (el que corregimos ayer) cruzando Segment y Ship Mode. ¿Hay algún modo de envío que sea especialmente poco rentable para el segmento Consumer?

Crea una columna con apply() que clasifique las ventas en "Pequeña", "Mediana" o "Corporativa" (ej: más de $500 es corporativa).

Análisis de Envíos: Ya que tienes Dias_Envio, usa .describe() sobre esa columna para ver el promedio general. ¿Cuál es el máximo? ¿Hay algún error de datos (días negativos)?

In [244]:
df["Margen %"] = (df["Profit"] / df["Sales"]) * 100

tabla_pivot = df.pivot_table(
    index="Segment",
    columns="Ship Mode",
    values="Margen %",
    aggfunc="mean"
)
tabla_pivot

Ship Mode    First Class   Same Day  Second Class  Standard Class
Segment
Consumer       11.215646  13.654135     14.440935        9.880700
Corporate      11.431227  14.243143     14.896158       11.238170
Home Office    12.900692  13.835172     17.133208       13.862015

In [245]:
def clasi_ventas(fila):
    venta = fila["Total Sales"]
    if venta >= 4000: return "Corporativa"
    if venta >= 2500: return "Mediana"
    if venta >= 1000: return "Pequña"
    return "Baja"

df["Clasifi Venta"] = df.apply(clasi_ventas,axis=1)
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Discount,Profit,Total Sales,Dias_Envio,Status_Envio,Gerente,Ventas_Totales_Cat,Ratio_Sobre_Categoria,Margen %,Clasifi Venta
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,0.00,41.9136,523.9200,3,A tiempo,Sol M,741999.7953,0.035305,16.00,Baja
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,0.00,219.5820,2195.8200,3,A tiempo,Sol M,741999.7953,0.098644,30.00,Pequña
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,0.00,6.8714,29.2400,4,Lento 2,Nicolas P,719047.0320,0.002033,47.00,Baja
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,0.45,-383.0310,4787.8875,7,Lento 3,Sol M,741999.7953,0.129054,-40.00,Corporativa
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,0.20,2.5164,44.7360,7,Lento 3,Sol M,719047.0320,0.003111,11.25,Baja

In [246]:
df["Dias_Envio"].describe()

count    9994.000000
mean        3.958175
std         1.747567
min         0.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         7.000000
Name: Dias_Envio, dtype: float64